<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h5 class="ion-text-center"> Home </h5>
    <form action="">
      <div>
        <ion-item id="border" lines="none">
          <ion-label>E-mail:</ion-label>
          <ion-input type="email" placeholder="Informe seu e-mail"></ion-input>
        </ion-item>
        <ion-item id="border" lines="none">
          <ion-label>Senha:</ion-label>
          <ion-input type="password" placeholder="Informe sua senha"></ion-input>
        </ion-item>
      </div>      
        
      
      <ion-button class="ion-margin-top ion-margin-bottom" expand="block" color="danger">LOGIN</ion-button>
      <div class="ion-text-center ion-margin-bottom">
        <p>Esqueceu a senha? <a href="#"> Clique aqui!</a></p>
        <p>Novo por aqui?<a href="#"> Se cadastre!</a></p>
      </div>
        <ion-button expand="block" color="primary">Entrar com Facebook</ion-button>

      
    </form>
  </div>
</ion-content>
